<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registration - Change Password</title>
</head>

<body>
    <div class="nav-bar">
        <h1>Change Password</h1>
        <div>
            <a href="/home">Home</a>
            <a href="/employee-list">Employee List</a>
            <a href="/signout">Logout</a>
        </div>
    </div>
    <div class="form-div">
        <form action="/change-password" method="post" class="form-class" id="form">
            <div class="form-control">
                <div class="label-input-class">
                    <label>Current Password</label>
                    <input class="password-input input" name="currentPassword" type="password">
                </div>
                <div class="span-class">
                    <span class="validation-message" id="password-message"></span>
                </div>
            </div>
            <div class="form-control">
                <div class="label-input-class">
                    <label>New Password</label>
                    <input class="password-input input" name="newPassword" type="password">
                </div>
                <div class="span-class">
                    <span class="validation-message" id="password-message"></span>
                </div>
            </div>
            <div class="form-control">
                <div class="label-input-class">
                    <label>Confirm Password</label>
                    <input class="password-input input" name="confirmPassword" type="password">
                </div>
                <div class="span-class">
                    <span class="validation-message" id="password-message"></span>
                </div>
            </div>
            <div class="btn-sub-div">
                <input class="btn-sub" type="submit" value="Change">
            </div>
        </form>
    </div>
</body>

</html>