<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>File Downloads</title>
</head>

<body>
    <div class="nav-bar">
        <h1 class="nav-name">Downloads</h1>
        <ul class="nav-bar-ul">
            <li><a href="/signup">SignUp</a></li>
            <li><a href="/signin">SignIn</a></li>
        </ul>
    </div>
    <div>
        <form action="/downloads" method="post">
            <select name="selectedFile">
                <option value="none" selected disabled hidden>Select</option>
                <% for(let i=0; i<files.length; i++) { %>
                    <option value='<%= files[i] %>'>
                        <%= files[i] %>
                    </option>
                    <% } %>
            </select>
            <button type="submit">Download</button>
        </form>
    </div>

</body>

</html>