<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Download Files</title>
</head>

<body>
    <div class="nav-bar">
        <h1 class="nav-name">Download Files</h1>
        <div  class="links-div">
            <a href="/home">Home</a>
            <a href="/employee-list">Employee List</a>
            <a href="/create-chart">Chart</a>
            <a href="/uploads">Upload Files</a>
            <a href="/downloads">Download Files</a>
            <a href="/change-password">Change Password</a>
            <a href="/signout">Logout</a>
        </div>
    </div>
    <div>
        <form action="/downloads" method="post">
            <select name="selectedFile">
                <option value="none" selected disabled hidden>Select</option>
                <% for(let i=0; i<files.length; i++) { %>
                    <option value='<%= files[i] %>'>
                        <%= files[i] %>
                    </option>
                    <% } %>
            </select>
            <button type="submit">Download</button>
        </form>
    </div>

</body>

</html>