@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	list-style: none;
	color: rgb(225, 225, 225);
}

:root {
	--len: 20rem;
}

body {
	background-color: rgb(30, 30, 30);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem 3rem 1rem 3rem;
	border-radius: 10px;
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 3px 8px rgb(59, 59, 59);
	margin-top: 5rem;
}

.form-class {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 30rem;
}

.row-form-class {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: 4rem;
	font-size: 1.2rem;
}

label {
	width: 14rem;
	text-align: left;
}

.label-input-class {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.span-class {
	display: flex;
	width: inherit;
	margin-bottom: 1rem;
	align-items: center;
}

.input {
	outline: none;
	font-size: 1rem;
	width: var(--len);
	height: 2.1rem;
	padding-left: 0.6rem;
	background-color: rgb(60, 60, 60);
	border-radius: 4px;
}

label {
	font-size: 1.2rem;
}

.validation-message {
	height: 1rem;
	padding-left: 12.5rem;
	padding-top: 1px;
	color: rgb(255, 69, 69);
	font-size: 10px;
}

.terms-validation-message {
	height: 1rem;
	padding-left: 6.1rem;
	padding-top: 1px;
	color: rgb(255, 69, 69);
	font-size: 10px;
}

.skills-class {
	width: 17.6rem;
	border-radius: 4px;
	background-color: rgb(60, 60, 60);
}

.terms-class {
	display: flex;
	align-items: center;
	justify-content: center;
}

.terms-label-class {
	text-align: center;
	width: inherit;
	padding-left: 1rem;
	font-size: 1rem;
}

.btn-sub-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar {
	background-color: #474747;
	position: absolute;
	top: 0;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
}

.downloads-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	border-radius: 10px;
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 3px 8px rgb(59, 59, 59);
}

.downloads-label {
	width: 8rem;
}

.downloads-input {
	outline: none;
	font-size: 1rem;
	width: var(--len);
	height: 2.1rem;
	padding-left: 0.6rem;
	background-color: rgb(60, 60, 60);
	border-radius: 4px;
	margin-right: 1rem;
}

a:link,
a:visited {
	margin: 0 1rem;
	text-decoration: none;
	display: inline-block;
}

a:hover,
a:active {
	color: rgb(0, 238, 255);
}

.nav-bar-ul {
	display: flex;
}

.label-div {
	display: flex;
	border-bottom: 1px solid #000;
}

.label-div label {
	padding-left: 1rem;
	border-right: 1px solid #000;
}

.label-div p {
	padding-left: 1rem;
	width: 14rem;
}

option {
	padding: 0 0.8rem;
	font-size: 1rem;
}

.content-div {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.search-bar-div {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.all-employee-btn {
	width: 10rem;
	height: 3rem;
	background-color: rgb(50, 50, 50);
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
}

.btn-sub {
	width: 6rem;
	height: 3rem;
	background-color: rgb(50, 50, 50);
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
}

.btn:not(:focus) {
	background-color: rgb(50, 50, 50);
}

.btn:hover {
	background-color: rgb(62, 62, 62);
}

.btn:focus {
	background-color: rgb(0, 0, 0);
}

.search-input {
	font-size: 1rem;
	outline: none;
	padding: 1rem;
	margin: 1rem 0rem 2rem;
	width: 16rem;
	height: 2rem;
	border: none;
	border-radius: 3px;
	background-color: rgb(60, 60, 60);
}

.search-btn {
	margin: 1rem;
	width: 3rem;
	height: 2rem;
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
}

tr {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

td, th {
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: start;
}

thead {
	background-color: rgb(60, 60, 60);
	box-shadow: 2px 2px 5px rgb(60, 60, 60);
}

tbody {
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 2px 5px rgb(60, 60, 60);
}

.empid-data {
	width: 8rem;
}

.name-data {
	width: 8rem;
}

.gender-data {
	width: 6rem;
}

.age-data {
	width: 6rem;
}

.address-data {
	width: 20rem;
}

.designation-data {
	width: 8rem;
}

.department-data {
	width: 10rem;
}

.files-input {
	padding: 1rem;
}

#Canvas {
	background-color: rgb(220, 220, 220);
}

.user-details-div {
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 2px 5px rgb(60, 60, 60);
	padding: 1rem;
	border-radius: 5px;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}